---
layout: default
---

<article class="post">
  <h1>{% for tag in page.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}[{{ tag_name }}]{% endfor %} {{ page.title }}</h1>
  

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>
  <span>[
  {% for tag in page.tags %}
    {% capture tag_name %}{{ tag }}{% endcapture %}
    <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }},</nobr></code>&nbsp;</a>
  {% endfor %}]</span>

  <!--{% include disqus.html %}-->
  {% include facebook-init.html %}
  {% if page.fbcomments %}
    <hr/>
    <h4>Comments</h4>
    <div class="fb-comments" data-href="http://royts.com{{ page.url }}" data-colorscheme="light" data-num-posts="4" data-width="706"></div>
  {% endif %}
</article>
