---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
      <h1>{% for tag in post.tags %}{% capture tag_name %}{{ tag }}{% endcapture %}[{{ tag_name }}]{% endfor %} <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.content }}
      </div>

      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
      </div>
      <span>[
      {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}"><code class="highligher-rouge"><nobr>{{ tag_name }},</nobr></code>&nbsp;</a>
      {% endfor %}]</span>

      {% include facebook-init.html %}
      {% if post.fbcomments %}
        <hr/>
        <h4>Comments</h4>
        <div class="fb-comments" data-href="http://royts.com{{ post.url }}" data-colorscheme="light" data-num-posts="4" data-width="706"></div>
      {% endif %}

    <!--<article class="post">-->

      <!--<h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>-->

      <!--<div class="entry">-->
        <!--{{ post.excerpt }}-->
      <!--</div>-->

      <!--<a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>-->
    <!--</article>-->
  {% endfor %}
</div>
